@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family: 'Libre Baskerville', serif;
    --main-text-color: #310526;
    --fons-color: #fddcf7ab;
    --fon-color: #ffffff;
    --fan-color: #6e0b40;
    background-color: var(--fons-color);
}
img{
    display: block;
    width: 100%;
}
