.feature{
    width: 100%;
    margin-block: 60px;
}
.feature__kiko-conteiner{
    margin-block: 20px;
    color: var(--main-text-color);
    text-align: center;
    line-height: 50px;
}
.feature__conteiner{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.feature__kiko{
    display: flex;
}
.feature__kiko-ikon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
}
.feature__kiko-ikon-img{
    width: 50px;
    height: auto;
    margin: 10px;
}
.feature__kiko-description{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}
.feature__kiko-description-name{
    color: var(--main-text-color);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: medium;
}
.feature__kiko-description-text{
    font-size: small;
    color: var(--main-text-color);
}
.feature__kiko-description-title{
    color: var(--main-text-color);
    font-size: small;
}
