.header{
    background-color: var(--fan-color);
    height: 60px;
}
.header__nav{
   display: flex;
   margin-inline: auto;
   width: 950px;
}
.header__logo{
    display: flex;
    justify-content: center;
    width: 180px;
    height: 60px;
}
.header__img{
    width: 80px;
    height: auto;}
.header__menu{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.header__menu-item{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fon-color);
    text-decoration: none;
}
.header__menu-item:hover {
    text-decoration: underline;
}
