.header{
    background-color: black;
    height: 40px;
}
.header__nav{
   padding: 5px;
}
.header__logo{
    width: 50px;
    height: auto;
    margin-left: 50px;}
.header__img{
    margin-top: 8px;  
}
.header__menu{
    display: flex;
    flex-direction: column;
}
.header__menu-item{
    color: white;
    text-decoration: none;
}

.header__menu-item:hover {
    text-decoration: underline;
}

@media (min-width: 500px) {

    .header__nav {
        display: flex;
    }
    
    .header__menu {
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        flex: 1;
    }
}
