.product{
    min-width: 300px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center
}
.product__conteiner{
    display: flex;
    text-align: center;
    padding-inline: 35px;
    max-width: 1000px;
    align-items: center;
    margin-inline: 30px;
}
.product__conteiner-object{
    background-color: var(--fon-color);
    border-color: var(--main-text-color);;
    border:groove;
    padding: 35px;
    min-width: 137px;
    height: 100%;
    margin: 15px;
    padding-inline:7px;
}
.product__conteiner-title{
    text-align: center;
    font-size:medium;
    color: var(--main-text-color);
}
.product__conteiner-text{
    min-width: 120px;
    height: 60px;
    text-align: center;
    font-size:x-small;
    color: var(--main-text-color);
}
.product__conteiner-price{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    color: var(--main-text-color);
    border-width: 30px;
    background-color: rgba(191, 189, 214, 0.801);
    border-radius: 45px;
    display: unset;
    width: 25px;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 7px;
}
@media (max-width: 750px) {
    .product{
        display: flex;
        justify-content: center;
    }
    .product__conteiner{
        display: flex;
        flex-direction: column;
        max-width: 300px;
        width: 100%;
        margin-bottom: 10px;
    }
    .product__conteiner-object{
        padding: 35px;
        min-width: 137px;
        height: 100%;
        margin: 15px;
    padding-inline:7px;
    }
    
}
