.product{
    margin-block: 60px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.product__conteiner{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
    margin-inline: auto;
    width: 950px;
}
.product__conteiner-object{
    background-color: var(--fon-color);
    border-color: var(--main-text-color);;
    border:groove;
    padding: 10px;
    min-width: 137px;
    height: 100%;
}
.product__conteiner-title{
    text-align: center;
    font-size:medium;
    color: var(--main-text-color);
}
.product__conteiner-text{
    min-width: 120px;
    height: 60px;
    text-align: center;
    font-size:x-small;
    color: var(--main-text-color);
}
.product__conteiner-price{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    color: var(--main-text-color);
    border-width: 30px;
    background-color: rgba(191, 189, 214, 0.801);
    border-radius: 45px;
    display: unset;
    width: 25px;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 7px;
}

